.mediaViewInfo {
	--web-view-name: Coverage Map - About and Help;
	--web-view-id: Coverage_Map_-_About_and_Help;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Coverage_Map_-_About_and_Help;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Coverage_Map_-_About_and_Help {
	position: absolute;
	width: 428px;
	height: 926px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Coverage Map - About and Help;
	--web-view-id: Coverage_Map_-_About_and_Help;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Map {
	position: absolute;
	width: 428px;
	height: 814px;
	left: 0px;
	top: 112px;
	overflow: visible;
}
#Signal_Strength {
	position: absolute;
	width: 84px;
	height: 225px;
	left: 163px;
	top: 334px;
	overflow: visible;
}
#Good_Signal {
	fill: rgba(20,255,0,0.2);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Good_Signal {
	position: absolute;
	overflow: visible;
	width: 84px;
	height: 75px;
	left: 0px;
	top: 150px;
}
#Medium_Signal {
	fill: rgba(255,137,0,0.2);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Medium_Signal {
	position: absolute;
	overflow: visible;
	width: 84px;
	height: 75px;
	left: 0px;
	top: 75px;
}
#Bad_Signal {
	fill: rgba(255,0,0,0.2);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Bad_Signal {
	position: absolute;
	overflow: visible;
	width: 84px;
	height: 75px;
	left: 0px;
	top: 0px;
}
#Top_Menu {
	position: absolute;
	width: 428.5px;
	height: 633px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Top_Menu_q {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Top_Menu_q {
	position: absolute;
	overflow: visible;
	width: 428px;
	height: 633px;
	left: 0px;
	top: 0px;
}
#Connectify {
	left: 151px;
	top: 14px;
	position: absolute;
	overflow: visible;
	width: 145px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(112,112,112,1);
}
#Help {
	left: 191px;
	top: 69px;
	position: absolute;
	overflow: visible;
	width: 33px;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(112,112,112,1);
}
#About {
	left: 131px;
	top: 69px;
	position: absolute;
	overflow: visible;
	width: 41px;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(112,112,112,1);
}
#Contact {
	left: 243px;
	top: 69px;
	position: absolute;
	overflow: visible;
	width: 55px;
	white-space: nowrap;
	text-align: center;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(112,112,112,1);
}
#Line_9 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_9 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 17px;
	left: 180.5px;
	top: 69px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_10 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_10 {
	overflow: visible;
	position: absolute;
	width: 1px;
	height: 17px;
	left: 233.5px;
	top: 69px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_11 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_11 {
	overflow: visible;
	position: absolute;
	width: 91px;
	height: 1px;
	left: 168.5px;
	top: 609.5px;
	transform: matrix(1,0,0,1,0,0);
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Coverage_Map___Main.html;
	cursor: pointer;
}
#Line_16 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_16 {
	overflow: visible;
	position: absolute;
	width: 428px;
	height: 1px;
	left: 0.5px;
	top: 113.5px;
	transform: matrix(1,0,0,1,0,0);
}
#About_z {
	left: 22px;
	top: 131px;
	position: absolute;
	overflow: visible;
	width: 82px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(112,112,112,1);
}
#Help_ {
	left: 21px;
	top: 258px;
	position: absolute;
	overflow: visible;
	width: 63px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(112,112,112,1);
}
#Contact_ {
	left: 22px;
	top: 524px;
	position: absolute;
	overflow: visible;
	width: 108px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: rgba(112,112,112,1);
}
#This_application_is_about_help {
	left: 22px;
	top: 172px;
	position: absolute;
	overflow: visible;
	width: 367px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(112,112,112,1);
}
#To_use_this_application_simply {
	left: 22px;
	top: 294px;
	position: absolute;
	overflow: visible;
	width: 374px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(112,112,112,1);
}
#karambudoregonstateedu {
	left: 22px;
	top: 560px;
	position: absolute;
	overflow: visible;
	width: 253px;
	white-space: nowrap;
	text-align: left;
	font-family: Helvetica Neue;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: rgba(112,112,112,1);
}